{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>

<div>
   <p>{{post.content}}</p> 

</div>   

<div>
    <p><i>By {{post.user.full_name}}
        on {{post.created_at}}</i></p>
</div>

<form>
    <button class="btn btn-outline-primary" formmethod="GET" 
    formaction="/users/{{post.user_id}}">Cancel</button>

    <button class="btn btn-primary" formmethod="GET" 
    formaction="/posts/{{post.id}}/edit">
    Edit
    </button>

    <button class="btn btn-danger" formmethod="POST" 
    formaction="/post/{{post.id}}/delete">
    Delete
    </button>

</form>

{% endblock %}